.main {
  display: block;
  width: 600px;
  padding: 16px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: 0.3s;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

.link {
  list-style: none;
  text-decoration: none;
}

.main:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  border-color: #aaa;
}

.main h2 {
  margin: 0;
  font-size: 16px;
  color: #474747;
  font-weight: normal;
}

.main p {
  margin: 0px;
  font-size: 16px;
  color: #000000;
}
.question {
  margin-top: 1rem;
}
.postedby {
  margin-top: 1rem;
}
.label {
  margin: 0;
  color: #4d4d4d;
}
.buttons {
  margin: 1rem;
}

@media (max-width: 768px) {
  .main {
    width: 500px;
    box-sizing: border-box;
  }
}
